$colorPrimaryBasic: #4568dc;    
$colorPrimaryLight1: #809dff;    
$colorPrimaryLight2: #ccd8ff;    
$colorPrimaryDark1: #0029b0;    
$colorPrimaryDark2: #001763;    
$colorSecundaryBasic: #c16dc5;    
$colorSecundaryLight1: #db90de;    
$colorSecundaryLight2: #f5baf7;    
$colorSecundaryDark1: #a63cab;    
$colorSecundaryDark2: #741e78;    
$colorEnterpriseBasic: #de9e43;    
$colorEnterpriseLight1: #f7c47c;    
$colorEnterpriseLight2: #ffdfb2;    
$colorEnterpriseDark1: #c47b14;    
$colorEnterpriseDark2: #784600;    
$colorCoalDark: #1a1a1f;    
$colorCoalNormal: #242529;    
$colorCoalLight: #5a5a5c;    
$colorCoalLighter: #c2c2c2;    
$colorCoalWhite: #ededed;    
$colorComplementarySuccess: #ffffff;    
