$gradientGradientRegular: linear-gradient(
     125.43deg,
     #6236e5 0%,   
     #9a3de6 100%  
   )
   ;    
$gradientGradientRegularDark: linear-gradient(
     358.75deg,
     #0029b0 0%,   
     #a63cab 100%  
   )
   ;    
$gradientGradientGold: linear-gradient(
     133.56deg,
     #de9e43 0%,   
     #de9e4300 100%  
   )
   ;    
$gradientGradientEnterprise: linear-gradient(
     125.22deg,
     #de9e43 0%,   
     #784600 100%  
   )
   ;    
$gradientGradientAccent: linear-gradient(
     125.22deg,
     #de9e43 0%,   
     #a63cab 100%  
   )
   ;    
